body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background: #b2b2b2;
}

h1 { 
    text-align: center;
    font-weight: 300;
}

.PPLG {
    text-align: center;
    text-decoration: solid;
}

.kotak_login {
    width: 310px;
    background: white;
    margin: 80px auto;
    padding: 30px 20px;
    border-radius: 8px;
}

.tombol_login {
    width: 100%;
    padding: 3pt;
    background: rgb(17, 148, 44);
    border: rgb(15, 138, 68);
}

.form_login {
    box-sizing: border-box;
    color: #d5f0f3;
    font-size: 13pt;
    width: 100%;
}